  .header{
  background-image:url(untitled.png);
  width:100%;
  background-repeat:no-repeat;
  background-size: contain;
  border: 1px solid #FB414E;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  }
  .nav{
  margin-left:12%;
  font-size:2vw;
  color:white;
  font-family:Sans-serif;
  text-decoration:none;
  }
  .main-nav{
  padding:6px;
  font-size:1.3vw;
  color:white;
  font-family:Sans-serif;
  text-decoration:none;
  margin-left:5%;	  
  }
  .nav__bar{
  display:flex;
  text-decoration:none;
  }
  .header__featured-content{
  font-size:3.2vw;
  color:white;
  font-family:Sans-serif;
  margin-left:24%;
  margin-top:20%;	  
  }
  .header__content{
  font-size:0.9vw;
  color:white;
  font-family:Sans-serif;
  margin-left:34%
  }
  .header__btn{
	  padding:0.7%;
	  background-color:#202B2F;
	  color:white;
	  border:none;
	  margin-left:41%;
	  font-size:1vw;
	  margin-top:2%;
	  margin-bottom:10%;
	  width:8%
    }
  .header__btn1{
	  padding:0.7%;
	  margin-left:2%;
	  font-size:1vw;
	  border:none;
	  width:8%
	  }	
	.section__figure{
	 display: inline-block;
	}
  .grid__one, .grid__two, .grid__three { 
  float: left;
  width: 23.3%;
  margin-top:-4%;
  }
  .grid__one{
	  margin-left:12%;
	  background-color:#FB414E;
	  }
  .grid__two{
	  margin-left:2%;
	  background-color:#202B2F;
	  }
  .grid__three {
	  margin-left:2%;
	  background-color:#202B2F;
	  }
	.section__img{
		padding-top:4%;
		width:30%;
	}
	.section__figure--content{
		margin-left:5%;
		font-size:1.5vw;
		color:white;
		font-family:Sans-serif;
	}
	 .section__figure--block{
		 margin-left:5%;
		 font-size:0.9vw; 
		 color:white; 
		 font-family:Sans-serif;
		 margin-bottom:10%;
	 }
	.section--align{
		text-align:center;
		margin-top:2%;
		color:#FB414E;
		font-size:1.5vw; 
		font-family:Sans-serif;
	}
	.section__3px--align{
		font-size:3vw;
		text-align:center;
		font-family:Sans-serif;
	}
	.section__1px--align{
		font-size:1vw; 
		text-align:center; 
		font-family:Sans-serif;
	}
	.article__img--1{
		width:10%;
		margin-left:30%;
	}
	.article__img--2{
		width:11%;
		margin-left:8%
	}
	.article__img--3{
		width:10%;
		margin-left:-8%
	}
	.article__content--1{
		margin-left:21%;
		font-size:2vw; 
		color:black; 
		font-family:Sans-serif;
	}
	.article__content--2{
		font-size:2vw;
		color:black;
		font-family:Sans-serif;
	}
	.article__content--3{
		margin-left:-22%;
		font-size:2vw;
		color:black;
		font-family:Sans-serif;
	}
  .article__p1{
  font-size:0.9vw;
  color:black;
  font-family:Sans-serif;
  margin-left:9%;
  }
  .article__p2{
  font-size:0.9vw;
  color:black;
  font-family:Sans-serif;
  margin-left:-11%;
  }
  .column {
  float: left;
  width: 20.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
  margin-left:14%;
  margin-top:3%;
}

 .column {
  flex: 23.33%;
  padding: 5px;
 }
 .aside__content{
  font-size:1vw;
  color:white;
  font-family:Sans-serif;
  margin-left:20%;
 }
 .aside__btn{
  margin-left:20%;
  width:9%;
  padding:0.4%;
  margin-top:2%;
  margin-bottom:4%;
  background-color:transparent;
  color:white;
 }
 .section__cover{
	 margin-top:5%;
	 background-color:#F5F5F5;
 }
 .section__col1{
	 margin-left:20%;
	 font-size:1.5vw;
	 flex: 18%;
	 float:left;
 }
 .section__col2{
	  float:left;
	  margin-left:2%;
	  flex: 18%;
	  font-size:1.5vw;
 }
 .section__col3{
	 float:left; 
	 margin-left:2%;
	 flex: 18%;
	 font-size:1.5vw;
 }
 .section__col4{
	 margin-left:20%;
	 font-size:1.5vw;
	 flex: 18%;
	 float:left;
	 margin-top:-2%;
 }
 .section__col5{
	 float:left;
	 margin-left:2%;
	 flex: 18%; 
	 font-size:1.5vw;
	 margin-top:-2%;
 }
 #section__content{
	 float:left;
	 margin-left:2.4%;
	 width:41%;
	 margin-top:-2%;
 }
 .section__content{
  font-size:0.7vw;
  opacity:0.6;
  color:black;
  font-family:Sans-serif;
  
 }
 .section__content--1{
  font-size:0.9vw;
  opacity:0.6;
  color:black;
  font-family:Sans-serif;
 }
 .figure{
	 width:100%;
 }
 .section__highlight{
	float:left; 
	margin-left:20%;
	width:41%;
	font-size:2.5vw;
 }
 .section__h3{
	 margin-left:20%;
	 font-size:1vw;
	 width:30%; 
	 color:black;
	 font-family:Sans-serif; 
	 float:left;
	 }
  .video{
	  width:24%; 
	  float:right;
	  margin-right:15%; 
	  margin-top:-7%; 
	  margin-bottom:5%;
  }
  .section__center{
	  background-color:#202B2F; 
  }
  .section__center--image{
	  width:25%;
	  margin-left:15%;
	  margin-top:4% 
	  border-box;
  }
  .section__center--high{
	  float:right;
	  margin-right:15%;
	  color:white;
	  font-size:2.5vw;
  }
  .section__center--content{
	  float:right;
	  margin-right:15%;
	  margin-top:-3.7%;
	  color:white;
	  font-size:1vw;
  }
  .section__image{
	  width:100%; 
  }
 .footer{
	  margin-left:12%;
	  padding-top:3%;
  }
  .c6{
  font-size:2.5vw;
  color:black;
  font-family:Sans-serif;
  }
   .btn__input{
	  padding:1%;
	  width:38%; 
	  margin-left:8%;
	  border:solid;
	  border-width:1px;
  }
  .btn__input2{
	  padding:1%;
	  width:17%;
	  margin-left:8%;
	  border:solid;
	  border-width:1px;
  }
  .btn__input3{
	  padding:1%;
	  width:17%;
	  margin-left:2%;
	  border:solid;
	  border-width:1px;
  }
.btn__input4{
	 padding-bottom:9%;
	 margin-top:0.6%;
	 width:40%;
	 border:solid;
	 border-width:1px;
	 margin-right:23.4%;
	 float:right;
 }
 .btn__submit{
	background-color:#FB414E;
	padding:1%;
	width:77%;
	border-style:none;
	color:white;
	margin-top:2%;
 }
 .foot{
	 background-color:#000000;
	 margin-top:5%;
 }
 .flex__img{
	 max-width:8%;
	 height:auto;
	 margin-right:3%;
	 margin-top:3%;
 }
 .flex{
	 display:flex;
 }
 .footer__logo{
	 max-width:4%;
	 height:auto;
	 margin-top:5%;
	 margin-left:-11%;
 }
 .footer__contact{
	 max-width:11%;
	 height:auto;
	 margin-top:5%;
	 float:right; 
	 margin-right:15%;
 }
 .footer__img{
	 max-width:20%;
	 height:auto;
	 margin-top:3%; 
	 margin-left:12%;
 }
 .footer__nav{
	 margin-left:30%;
 }
  .copyright{
	  color:white;
	  margin-left:71%;
	  opacity:0.5;
	  font-size:1.2vw;
	  font-family:Sans-serif;
  }
  .c22{
  font-size:1.3vw;
  color:white;
  font-family:Sans-serif;
  
  }
  .btn__submit--input5{
	  padding:0.9%;
	  border-style:none;
	  width:28%;
	  margin-left:13%;
  }
  .btn__submit{
	  background-color:#FB414E;
	  padding:0.9%;
	  width:10%;
	  border-style:none;
	  margin-bottom:3%;
  }
  .select__service{
	   padding:1%;
	   width:40%;
	   margin-left:8%;
	   border:solid;
	   border-width:1px;
  }
  
  .article__p3{
  color:black;
  font-family:Sans-serif;
  font-size:0.9vw;
  margin-left:-29%;
  }
  .aside{
	 margin-top:4%;
	 width:100%;
	 background-color:#202B2F;
  }
  .aside__img1{
	 float:right;
	 margin-right:15%;
	 width:12.2%;
  }
  .aside__img2{
	  float:right;
	  margin-right:2%; 
	  width:12%;
  }
  .aside__highlight{
	  margin-left:20%;
	  font-size:2vw; 
	  color:white; 
	  font-family:Sans-serif;
  }
 .btn__submit{
	background-color:#FB414E;
	padding:1%;
	width:77%;
	border-style:none;
	color:white;
	margin-top:2%;
 }
 .footer__first{
	 max-width:8%;
	 height:auto;
	 margin-right:3%;
	 margin-top:3%;
 }
  .responsive{
  width: 100%;
  max-width:175px;
  height: auto;
  margin-left:12%;
  padding-bottom:6%;
  float:left;
  }
  .btn__text{
  color:black;
  font-family:Sans-serif;
  font-size:1vw;
  }
